<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>Página de Curso</title>
</head>

<body>
	<div th:insert="~{layout/menu}"></div>

	<form name="salvar_curso" class="form-horizontal" method="post" th:action="@{/salvar_curso}"
		th:object="${cursoEntity}">
		<div class="container">
			<h2>Cursos</h2>

			<!--Começa cadastro de cursos -->
			<div class="container">
				<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" id="nome" name="nome" required>
				</div>
				<div class="mb-e">
					<button type="submit" class="btn btn-success form-control">Salvar</button>
				</div>
			</div>
			<!-- Termina cadastro de cursos -->
		</div>
		<!--Começa lista de docentes-->
		<br>
		<div class="container">
		<h5 class="card-title">Cursos cadastrados</h5>
		<table id="example" class="table table-sn table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th class="col-1"></th>
					<th class="col-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="curso : ${cursos}">
					<td th:text="${curso.IdCurso}"></td>
					<td th:text="${curso.Nome}"></td>
					<td><a class="btn btn-sn btn-warning" th:href="@{alterar_curso/{idCurso}(idCurso=${curso.IdCurso})}">Alterar</a></td>
					<!--Começa o excluir-->
					<td>
						<a class="delete btn btn-sm btn-danger"
							th:href="@{excluir_curso/{idCurso}(idCurso=${curso.idCurso})}"
							onclick="if (confirm('Deseja realmente excluir o curso?')){return true;}else{event.stopPropagation();event.preventDefault();};">
							Excluir
						</a>
					</td>
					<!--Termina Exclusão-->
				</tr>

			</tbody>

		</table>
		<script>
			new DataTable('#example');
			language:{
				url:'//cdn.datatables.net/plug-ins/2.0.3/i18n/pt-BR.json'
			}
		</script>
		
	</div>
	</form>

	<div th:insert="~{layout/rodape}"></div>

</body>

</html>